@media only screen and (min-width: 768px) {
    #portfolio .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #portfolio .all-projects .project-info .project-img {
        height: 100%;
    }
    #portfolio .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
}

@media (max-width: 768px) {
    .cta {
        display: flex;
        flex-direction: column;
        padding: auto;
        min-width: 400px;
        align-items: center;
        justify-content: center;
    }
    #presentation {
        background-size: auto;
    }
    #presentation cite {
        display: flex;
        flex-direction: column;
    }
    #history .history-container img {
        max-width: 400px;
    }
}