    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100&display=swap');
    @import url("./css/history.css");
    @import url("./css/container-menu.css");
    @import url("./css/portfolio.css");
    @import url("./css/presentation.css");
    @import url("./css/keyframes.css");
    @import url("./css/media-query.css");
    @import url("./css/footer.css");
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 10px;
        font-family: 'Poppins', 'Times New Roman', Times, serif;
        scroll-behavior: smooth;
        animation: gradient 10s ease alternate infinite;
        /*background: linear-gradient(-45deg, #d4ee52, gold, #000000, #141d03) no-repeat;
        background-size: 300% 300%;*/
        background-color: rgb(34, 17, 43);
    }
    
    q {
        font-size: 12px;
        color: white;
    }
    
    cite {
        color: white;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    li {
        list-style-type: none;
        color: white;
        padding: 10px;
        font-size: 12px;
    }
    
    p {
        font-size: 1.8rem;
        margin-top: 5px;
        line-height: 2.5rem;
        font-weight: 200;
        letter-spacing: 0.05rem;
        text-align: justify;
    }
    
    .main-container {
        min-height: 120vh;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }
    
    .section-title {
        font-size: 4rem;
        font-weight: 500;
        color: whitesmoke;
        text-transform: uppercase;
        letter-spacing: .2rem;
        text-align: center;
    }
    /*Footer*/
    /* container-menu */
    /* Seção de Apresentação */
    /* Seção History */
    /* Seção de portifólio */
    /*Keyframes*/
    /* Media query */